<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body>


<div class="calendarcontainer">
    <div class="monthnamecontainer">
        <span class="monthname">{{ data["month_name"] }} {{ data["year"] }}</span>
        <a href="{{ url_for('prevmonth', year=data['year'], month=data['month']) }}" class="prevmonth"><</a>
        <a href="{{ url_for('nextmonth', year=data['year'], month=data['month']) }}" class="nextmonth">></a>
    </div>

    <div class="weekdayscontainer">
        {% for weekday in data["weekdays"] %}
        <div class="daynamecontainer">
            {{ weekday }}
        </div>
        {% endfor %}
    </div>

    {% for week in weeks %}
    <div class="weekcontainer">
        {% for day in week %}
        {% if day[0] == 0 %}
        <div class="emptyday">
        </div>
        {% else %}
        <div class="daycontainer">
            {{ day[0] }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</div>

</body>

</html>